<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.washington.kpham97.quizdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mathOverview" />
        <activity android:name=".answerPage" />
        <activity android:name=".Math1" />
        <activity android:name=".math2"></activity>
        <activity android:name=".math3"></activity>
        <activity android:name=".math4"></activity>
        <activity android:name=".math5"></activity>

        <activity android:name=".phyOverview" />
        <activity android:name=".physics1" />
        <activity android:name=".physics2"></activity>
        <activity android:name=".physics3"></activity>
        <activity android:name=".physics4"></activity>
        <activity android:name=".physics5"></activity>

        <activity android:name=".marvOverview" />
        <activity android:name=".marv1" />
        <activity android:name=".marv2"></activity>
        <activity android:name=".marv3"></activity>
        <activity android:name=".marv4"></activity>
        <activity android:name=".marv5"></activity>

        <activity android:name=".sameOverview" />
        <activity android:name=".same1" />
        <activity android:name=".same2"></activity>
        <activity android:name=".same3"></activity>
        <activity android:name=".same4"></activity>
        <activity android:name=".same5"></activity>
    </application>

</manifest>